**/target/
**/logs/
**/sdklog/
/.idea/
**/.idea/
*.iml
**/*.iml
.classpath
.project
.settings/
/.classpath
/.project
/.settings/
**/.classpath
**/.project
**/.settings/
**/generatorConfig.properties
/ishop-manager/ishop-manager-web/src/main/resources/resource/db.properties
