<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ishop.mapper.TcGoodsCatsMapper">
  <resultMap id="BaseResultMap" type="com.ishop.pojo.TcGoodsCats">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CAT_ID" jdbcType="INTEGER" property="catId" />
    <result column="PARENT_ID" jdbcType="INTEGER" property="parentId" />
    <result column="CAT_NAME" jdbcType="VARCHAR" property="catName" />
    <result column="IS_SHOW" jdbcType="TINYINT" property="isShow" />
    <result column="FLOOR" jdbcType="TINYINT" property="floor" />
    <result column="CAT_SORT" jdbcType="INTEGER" property="catSort" />
    <result column="DATA_FLAG" jdbcType="TINYINT" property="dataFlag" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="COMMISSION_RATE" jdbcType="DECIMAL" property="commissionRate" />
  </resultMap>

  <sql id="keySql">
         CAT_ID catId, PARENT_ID parentId, CAT_NAME catName,
         IS_SHOW isShow, FLOOR floor, CAT_SORT catSort,
         DATA_FLAG dataFlag, CREATE_TIME createTime, COMMISSION_RATE commissionRate
  </sql>

  <select id="selectByParentId" resultType="java.util.Map" parameterType="java.lang.Integer">
    SELECT <include refid="keySql"></include>
    FROM tc_goods_cats
    WHERE 1=1
    <if test="parentId != null and parentId != ''">
      AND PARENT_ID=#{parentId,jdbcType=VARCHAR}
    </if>
    AND DATA_FLAG='1' AND IS_SHOW='1' ORDER BY CAT_SORT ASC
  </select>

  <select id="selectCatNames" resultType="java.lang.String" parameterType="java.lang.String">
    SELECT CAT_NAME catName
    FROM tc_goods_cats
    WHERE 1=1
    <if test="catArr != null">
      AND CAT_ID IN
      <foreach collection="catArr" index="index" item="item" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
  </select>

  <select id="selectCatByFloor" resultType="java.util.Map">
    SELECT <include refid="keySql"></include>
    FROM tc_goods_cats
    WHERE 1=1
    <if test="floor != null and floor != ''">
      AND FLOOR=#{floor,jdbcType=VARCHAR}
    </if>
  </select>

</mapper>