<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ishop.mapper.TcGoodsCatsMapper">
  <resultMap id="BaseResultMap" type="com.ishop.pojo.TcGoodsCats">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="catId" jdbcType="INTEGER" property="catid" />
    <result column="parentId" jdbcType="INTEGER" property="parentid" />
    <result column="catName" jdbcType="VARCHAR" property="catname" />
    <result column="isShow" jdbcType="TINYINT" property="isshow" />
    <result column="isFloor" jdbcType="TINYINT" property="isfloor" />
    <result column="catSort" jdbcType="INTEGER" property="catsort" />
    <result column="dataFlag" jdbcType="TINYINT" property="dataflag" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="commissionRate" jdbcType="DECIMAL" property="commissionrate" />
  </resultMap>
</mapper>