<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ishop.mapper.TcGoodsMapper">
  <resultMap id="BaseResultMap" type="com.ishop.pojo.TcGoods">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="GOODS_ID" jdbcType="INTEGER" property="goodsId" />
    <result column="GOODS_SN" jdbcType="VARCHAR" property="goodsSn" />
    <result column="PRODUCT_NO" jdbcType="VARCHAR" property="productNo" />
    <result column="GOODS_NAME" jdbcType="VARCHAR" property="goodsName" />
    <result column="GOODS_IMG" jdbcType="VARCHAR" property="goodsImg" />
    <result column="SHOP_ID" jdbcType="INTEGER" property="shopId" />
    <result column="MARKET_PRICE" jdbcType="DECIMAL" property="marketPrice" />
    <result column="SHOP_PRICE" jdbcType="DECIMAL" property="shopPrice" />
    <result column="WARN_STOCK" jdbcType="INTEGER" property="warnStock" />
    <result column="GOODS_STOCK" jdbcType="INTEGER" property="goodsStock" />
    <result column="GOODS_UNIT" jdbcType="CHAR" property="goodsUnit" />
    <result column="ISSALE" jdbcType="TINYINT" property="issale" />
    <result column="ISBEST" jdbcType="TINYINT" property="isbest" />
    <result column="ISHOT" jdbcType="TINYINT" property="ishot" />
    <result column="ISNEW" jdbcType="TINYINT" property="isnew" />
    <result column="ISRECOM" jdbcType="TINYINT" property="isrecom" />
    <result column="GOODS_CATID_PATH" jdbcType="VARCHAR" property="goodsCatidPath" />
    <result column="GOODS_CATID" jdbcType="INTEGER" property="goodsCatid" />
    <result column="SHOP_CATID1" jdbcType="INTEGER" property="shopCatid1" />
    <result column="SHOP_CATID2" jdbcType="INTEGER" property="shopCatid2" />
    <result column="BRAND_ID" jdbcType="INTEGER" property="brandId" />
    <result column="GOODS_STATUS" jdbcType="TINYINT" property="goodsStatus" />
    <result column="SALE_NUM" jdbcType="INTEGER" property="saleNum" />
    <result column="SALE_TIME" jdbcType="TIMESTAMP" property="saleTime" />
    <result column="VISIT_NUM" jdbcType="INTEGER" property="visitNum" />
    <result column="APPRAISE_NUM" jdbcType="INTEGER" property="appraiseNum" />
    <result column="ISSPEC" jdbcType="TINYINT" property="isspec" />
    <result column="GOODS_SEO_KEYWORDS" jdbcType="VARCHAR" property="goodsSeoKeywords" />
    <result column="ILLEGAL_REMARKS" jdbcType="VARCHAR" property="illegalRemarks" />
    <result column="DATA_FLAG" jdbcType="TINYINT" property="dataFlag" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="GOODS_TIPS" jdbcType="LONGVARCHAR" property="goodsTips" />
    <result column="GOODS_DESC" jdbcType="LONGVARCHAR" property="goodsDesc" />
    <result column="GALLERY" jdbcType="LONGVARCHAR" property="gallery" />
  </resultMap>

  <sql id="goodsKeySql">
    GOODS_ID goodsId, GOODS_SN goodsSn, PRODUCT_NO productNo, GOODS_NAME goodsName,
    GOODS_IMG goodsImg, SHOP_ID shopId, MARKET_PRICE marketPrice, SHOP_PRICE shopPrice,
    WARN_STOCK warnStock, GOODS_STOCK goodsStock, GOODS_UNIT goodsUnit, ISSALE issale,
    ISBEST isbest, ISHOT ishot, ISNEW isnew, ISRECOM isrecom, GOODS_CATID_PATH goodsCatidPath,
    GOODS_CATID goodsCatid, SHOP_CATID1 shopCatid1, SHOP_CATID2 shopCatid2, BRAND_ID brandId,
    GOODS_STATUS goodsStatus, SALE_NUM saleNum, SALE_TIME saleTime, VISIT_NUM visitNum,
    APPRAISE_NUM appraiseNum, ISSPEC isspec, GOODS_SEO_KEYWORDS goodsSeoKeywords,
    ILLEGAL_REMARKS illegalRemarks, DATA_FLAG dataFlag, CREATE_TIME createTime,
    GOODS_TIPS goodsTips, GOODS_DESC goodsDesc, GALLERY gallery
  </sql>

  <select id="selectList" resultMap="BaseResultMap">
    SELECT <include refid="goodsKeySql"></include>
    FROM tc_goods
    WHERE DATA_FLAG='1'
    <if test="goodsName != null and goodsName != ''">
      AND GOODS_NAME LIKE CONCAT('%',#{goodsName},'%')
    </if>
    ORDER BY GOODS_ID ASC
  </select>

  <select id="getRecomGoodsLikeOneCatId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    SELECT <include refid="goodsKeySql"></include>
    FROM tc_goods
    WHERE 1=1
    <if test="oneCatId != null and oneCatId != ''">
     AND GOODS_CATID_PATH LIKE CONCAT(#{oneCatId},'%')
    </if>
    AND ISRECOM='1' AND DATA_FLAG='1' AND ISSALE='1'
    ORDER BY SALE_TIME DESC
  </select>

  <update id="deleteByGoodsId" parameterType="java.lang.String">
    UPDATE  tc_goods
    SET DATA_FLAG='-1'
    WHERE 1=1
     <if test="goodsId != null and goodsId != ''">
       AND GOODS_ID=#{goodsId,jdbcType=VARCHAR}
     </if>
  </update>

  <update id="edisGoodsSale" parameterType="java.lang.String">
    UPDATE tc_goods
    SET ISSALE=#{status,jdbcType=VARCHAR}
    WHERE  1=1
    <if test="goodsId !=null and goodsId != ''">
      AND GOODS_ID=#{goodsId,jdbcType=VARCHAR}
    </if>
  </update>
</mapper>